.el-header {
    background-color: #E9EEF3;
    
    color: #333;
    
  }
  .el-footer {
    background-color: #E9EEF3;
    
    color: #333;
  }
  h2,p{
      margin: 0;
  }
  .el-header h2{
      line-height: 50px;
      padding-top: 25px;
  }
  .el-footer p{
      line-height: 60px;
      border-top: 1px solid #333;
  }
  /* 躯体 */
  .el-main{
      padding: 0 20px 40px 20px;
      
  }
  .el-aside {
    color: #ccc;
    min-height: 100%;
    text-align: right;
    line-height: 60px;
    background: url('../images/leftBG.png')
  }
  .el-menu{
      background-color: transparent;
      /* height: 100%; */
  }
  .el-submenu{
        
        margin-top: 10px;

  }
  .el-submenu .el-menu-item {
    height: 27px;
    line-height: 27px;
    padding: 0 20px;
    background: transparent;
    width: 200px;
    margin-left: 29px;
    border-radius: 6px 0 0 6px;
    margin-bottom: 5px;
    color: #ccc;
  }
  .el-submenu__title{
    background:url('../images/menuBG.png');
    height: 30px;
    line-height: 30px;
    width: 200px;
    margin-left: 29px;
    border-radius: 6px 0 0 6px;
    color: #fff;
  }
  /* .el-submenu__title:hover,.el-submenu__title:focus{
      background-color: #fff;
  } */
  .el-menu-item:hover, .el-menu-item:focus{
      background: rgba(255, 255, 255, 0.6);
      color:#000;
  }
  .el-icon-arrow-down:before {
    content: "\E603";
    display: none;
}
 
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    min-height: 500px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .biaoti h1,.biaoti p{
      margin: 0 20px 0 0;

  }
  .biaoti h1{
      font-size: 22px;
      line-height: 110px;
  }
  .biaoti p{
      line-height: 40px;
      font-size: 14px;
  }



  /* 卡片 */
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
  }
  .el-card__header{
      padding: 0 16px;
      line-height: 40px;
      text-align: left;
      background:linear-gradient(180deg,#fff,#ccc);
  }
  .el-card__header span{
      font-weight: bold;
  }
  .el-card__body{
      padding: 0 20px;
  }
  .el-alert--success,.el-alert--info{
      line-height: 40px;
      border-radius: 6px;
      margin-bottom: 16px;
  }
 
  .el-alert{
    padding: 0 10px;
  }
  .hanggao{
    line-height: 40px;
  }
 /* 内容 */
 .el-table th{
   line-height: 40px;
   padding: 0;
 }


 /*  */
 #naoketong{
   display: flex;
   flex-wrap: wrap
 }
 #naoketong>*{
  min-width: 100%;
  
 }
 a{
   text-decoration: none;
   color: aqua;
 }